<!-- loading -->
<div class="form anim_in" *ngIf="process == 'loading'">
      <div class="container-80-20">  
        loading...
      </div>

  </div>

<!-- form -->
<div class="form anim_in" *ngIf="process == 'form'">
  <form [formGroup]="cityForm" (ngSubmit)="getDataByCity()" novalidate="novalidate" autocomplete="off">
    <div class="container-80-20">

      <div class="grid-item"><input formControlName="city" id="citySearch" type="text" placeholder="Enter city here" (focus)="autocompleteFocus()"></div>
      <div class="grid-item"><button style="cursor: pointer">go!</button></div>
    </div>
  </form>
</div>

<!-- main -->
<div class="main-container anim_in" *ngIf="process == 'dataOk' || process == 'form'">
  <div class="grid-container-3">
    <div class="grid-item align-left">
      <img src="/assets/ubicacion-marca.svg" width="25px" (click)="showForm()" style="cursor: pointer"/>
    </div>
    <div class="grid-item"> {{ hoy | date:'d LLLL' }} / {{ hoy | date:'EEEE'}}</div>
    <div class="grid-item align-right">{{ dateNow | date: 'mediumTime' }}</div>
  </div>
  <div><h1>{{ dataJson.location.name }}</h1></div>
  <div>{{ dataJson.current.temp_c }}ºC - actual</div>
  <div><img [src]="dataJson.current.condition.icon" height="100px"></div>

  <div class="grid-container-3 max-with">
    <div class="item-forecast grid-item anim_in" *ngFor="let day of dataJson.forecast.forecastday; let i = index" >
      <div>{{day.date | date:'EEEE'}}</div>
      <div><img [src]="day.day.condition.icon"></div>
      <div class="t">min {{day.day.mintemp_c}}ºC</div>
      <div class="t">max {{day.day.maxtemp_c}}ºC</div>

      <div class="line" *ngIf="i==0 || i==1 || i==2"></div>

    </div>
  </div>
</div>