html {
    background-color: #090c0e;
}

body {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    /*font-size: 0rem;*/
    color: #bbcedb;
    font-size: 14px;
    text-align: center;
    height:100%;    
    background: #090c0e; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(bottom , #3e4e5d, #090c0e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom , #3e4e5d, #090c0e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #3e4e5d, #090c0e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom , #3e4e5d, #090c0e); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}

h1 {margin-block-end: 0.2em;}

input {
    background-color: black;
    border-width: 0px;
    padding: 4px 8px;
    color:white;
    width:100%;
}
button {
    background-color: #061d2c;
    border-width: 0px;
    color:white;
}
.main-container {padding:2%;}
.grid-container-3 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.grid-item {
}

.t {font-size: 12px}
.align-left {text-align: left;}
.align-right {text-align: right;}
.max-with {max-width: 540px;margin:30px auto;}
.line {
    padding: 0.5px;
    background-color: #bbcedb;
    margin: 20px 0;
}

.form{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.form .container-80-20{
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #061d2c;
    
    padding: 21px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* height: 30%; */
    width: 50%;
    margin: -15% 0 0 -25%;
}





/* animaciones */
.anim_in{
    /* position:relative; */
    animation:animatebottom_in 0.5s
}

@keyframes animatebottom_in{
    from{
        opacity:0
    } 
    to{
        opacity:1
    }
}





/* Media Queries */
@media (max-width: 480px) {

    .grid-container-3 {
        grid-template-columns: 100%;
    }

    .line {
        display: none;
    }

    .item-forecast {
        margin-bottom:45px;
    }

    .align-left {text-align: center;}
    .align-right {text-align: center;}

}